# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
*.py[cod]

# Git local config
.gitattributes

# Mac bullshit
.DS_Store

# Databases
*.db
backup/

# External logs
screenlog.*

# Config / Auth
auth.toml
mail.toml
config/local.toml

# node
/node_modules
exper/output

