# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
*.py[cod]

# Git local config
.gitattributes

# Mac bullshit
.DS_Store

# Search Folders
/msearch/**

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot

# Databases
*.db

# External logs
screenlog.*

# Config / Auth
*.toml
