/* VARIABLE ASSIGNMENT */

#para_holder {
    position: absolute;
    width: 80%;
    left: 10%;
}

.para {
    position: relative;
    left: 20%;
    width: 60%;
    min-height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/*.para:hover {
     border-left: 2px solid var(--bor-col);
}*/

.p_text {
    /* cursor: pointer; */
    line-height: 1.5;
    text-align: justify;
}

.p_input {
    white-space: pre-wrap;
    position: absolute;
    width: 100%;
    min-height: 50px;
    font-size: 90%;
    overflow: hidden;
    display: none;
    border: none;
    color: inherit;
    background-color: inherit;
    caret-color: inherit;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.p_input_view {
    position: absolute;
    white-space: pre-wrap;
    width: 100%;
    min-height: 50px;
    font-size: 90%;
    overflow: hidden;
    display: none;
    border: none;
    font-family: monospace;
}

.control {
    display: none;
    position: absolute;
    width: 15%;
    right: 100%;
    top: 0%;
    text-align: right;
    padding-right: 8px;
}

#bg.readonly .control {
    display: none;
}

.para.editable > .control {
    display: block;
}

.controlButs {
    display: none;
}

.control:hover .controlButs {
    display: block;
}

.control:hover .controlDots {
    display: none;
}

.controlDots {
    font-size: 90%;
}

button {
    font-size:70%;
    padding:1px 3px;
    width: 100%;
    margin-top: 3px;
}

.editable > .p_text {
    display: none;
}

.editable > .error_footer {
    display: none;
}

.editable > .p_input, .editable > .p_input_view {
    display: block;
}

/* DIV renderer stylying */

.eqnum {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

#pop .eqnum {
    display: none;
}

.qed {
    position: absolute;
    right: 0;
    bottom:0%;
}

.title {
    font-size: 35px;
}

.env__heading_h1 {
    font-size: 25px;
}

.env__heading_h2 {
    font-size: 20px;
}

.env__heading_h3 {
    font-size: 15px;
}

.bib_heading {
    font-size: 25px;
}

.em {
    font-style: italic;
}

.list-item:before{
    content: "\2022\ ";
}

.list-item{
   text-indent: 15px;
}

.list{
    margin-top: 5px;
    margin-bottom: 5px;
}

.strong {
    font-weight: bold;
}

.theorem_header {
    font-weight: bold;
}

.theorem_name {
    font-weight: normal;
}

.theorem_name:before{
    content: "(";
}

.theorem_name:after{
    content: ")";
}

.proof_header {
    font-weight: bold;
}

.error_footer {
    color: var(--hl2-col);
    padding-top: 5px;
    padding-bottom: 5px;
}

.footnote {
    cursor: pointer;
}

.svg_fig {
    position: relative;
    width: 40%;
    left: 30%;
}

.svg_cap {
    position: relative;
    left: 10%;
    padding-bottom: 50px;
/*  hacky, margin does */
}

.code > pre {
    white-space: pre-wrap;
}

#bib_block {
    display: none;
    position: relative;
    left: 20%;
    width: 60%;
    min-height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: 70%;
}

#bib_block .cite {
    display: block;
}

.cite {
    margin-top: 15px;
    padding-left: 15px;
    text-indent: -15px;
}

.citekey {
    visibility: hidden;
    color: var(--hl-col);
}

.cite:hover .citekey {
    visibility: visible;
}

#pop {
    padding: 10px;
    position: absolute;
    z-index: 1000;
    min-width: 250px;
    min-height: 30px;
    max-width: 400px;
}

#pop:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	margin-left: -10px;
}

.head_level2 {
    padding-left: 20px;
    font-size: 80%;
}

.head_level3 {
    padding-left: 25px;
    font-size: 70%;
}

/* popup overrides */


#pop .eqnum {
    display: none;
}

#pop .title {
    font-size: 25px;
    font-weight: bold;
}

#pop .env__heading_h1 {
    font-size: 20px;
}


/* sidebar */

#head {
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    display: block;
    cursor: pointer;
    width: 50px;
}

#sidebar {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 250px;
    width: 15%;
    height: 100%;
    padding-bottom: 10px;
}

#sidebar_inner {
    overflow: hidden;
    width: 250px;
}

#options_title {
    font-size: 25px;
    border-bottom: 1px dashed black;
}

.options {
    margin-top: 80px;
    padding-bottom: 30px;
}

.option {
    margin-top: 20px;
    padding-left: 10px;
    white-space: nowrap;
    right: 5px;
}

#toc {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#toc_title {
    padding-left: 5px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-top: 1px solid var(--delimit-col);
}

.toc_entry {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
}

.locked:after {
    content: '\1F512';
    position: absolute;
    width: 15%;
    left:90%;
    top: 0%;
    text-align: right;
}

/* drop down */

body {
    background: #ededed;
    font-family: 'Open Sans', sans-serif;
}

.center {
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
}

/* Custom Select */

.custom-select-wrapper {
    display: inline-block;
    user-select: none;
    position: absolute !important;
    right: 15px;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 160px;
    padding: 0 52% 0 5%;
    line-height: 160%;
    border-radius: 0px;
    cursor: pointer;
}

.custom-select-trigger:after, #logo:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%; right: 25px;
    margin-top: -3px;
    transform: rotate(45deg) translateY(-50%);
    transition: all .2s ease-in-out;
    transform-origin: 50% 0;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: var(--hl2-col);
}

#logo:after {
    transform: translateY(120%) translateX(-30%) rotate(-45deg);
    width: 20px;
    height: 20px;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-color: var(--hl2-col);
}

#logo.opened:after {
    transform: translateY(120%) translateX(70%) rotate(45deg);
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 99;
  }

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 5px;
    line-height: 160%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.custom-option:last-of-type {
    border-bottom: 0;
}

#hist {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: var(--bg-hl2-col);
    border-top: 2px solid var(--hl-col);
}

#revert_hist {
    display: none;
}

#revert_hist.selected {
    display: inline;
}

#bg.readonly #revert_hist {
    display: none;
}

.hist_pop {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: var(--pop-bg-col);
    color:   var(--pop-fg-col);;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}

/* history */

circle.commit {
    fill: var(--hl2-col);
}

circle.commit:hover {
    fill: var(--font-col-int);
}

circle.commit.active {
    fill: var(--hl-col);
}

#prog_bar{
        position: absolute;
        top:-1px;
        left:-1px;
        width:0%;
        height: 1px;
        background-color: var(--font-col-int);
}

#prog_bar:after{
  content: "";
  position: absolute;
  right: 0px;
  top: .5px;
  transform:translate(50%,-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--font-col-int);
}
