@import 'core.css';

/* classic view paras */

.container:not(.ssv) .para {
    position: relative;
    margin: auto;
    width: 55%;
    min-height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 800px !important;
    border-right: 2px solid rgba(0, 0, 0, 0);
}

.container.sb_content .para {
    transform: translateX(-90px);
}

.container:not(.ssv) .para.active {
    box-shadow: -1px 0px var(--hl-col);
}

.container:not(.ssv) .p_text {
    /* cursor: pointer; */
    line-height: 1.5;
    text-align: justify;
}

.container:not(.ssv) .p_input {
    white-space: pre-wrap;
    position: absolute;
    width: 100%;
    min-height: 50px;
    font-size: 90%;
    overflow: hidden;
    display: none;
    border: none;
    color: inherit;
    background-color: inherit;
    caret-color: inherit;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    padding-right: 5px;

}

.container:not(.ssv) .p_input_view {
    position: absolute;
    white-space: pre-wrap;
    width: 100%;
    min-height: 50px;
    font-size: 90%;
    overflow: hidden;
    display: none;
    border: none;
    font-family: monospace;
    padding-right: 5px;
}

.container:not(.ssv) > .para.rawtext > .p_text {
    display: none;
}

.container:not(.ssv) > .para.rawtext > .p_input,
.container:not(.ssv) > .para.rawtext > .p_input_view {
    display: block;
}

/* side-by-side view paras */

.container.ssv {
    background: linear-gradient(to left, var(--bg-col) 0%,var(--bg-col) 47.5%,var(--bg-hl-col) 42%,var(--bg-hl-col) 100%);
}

.container.ssv.sb_content {
     background: linear-gradient(to left, var(--bg-col) 0%,var(--bg-col) 58%,var(--bg-hl-col) 51%,var(--bg-hl-col) 100%); */
}

.container.ssv .para {
    position: relative;
    left: 55%;
    width: 40%;
    height: auto;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0);
}

.container.ssv.sb_content .para {
    left: 50%;
}

.container.ssv .para.active {
}

.container.ssv .para.active .p_input_view {
    box-shadow: -2px 0px var(--hl-col);
    background-color: rgba(0, 0, 0, 0.05);
}

.container.ssv .para.rawtext .p_input_view {
    background-color: rgba(0, 0, 0, 0.15);
}

.container.ssv .p_text {
    /* cursor: pointer; */
    line-height: 20px;
    text-align: justify;
    width: 100%;
    display: inline-block;
    margin-left: 0%;
    padding-right: 5px;
    min-height: 50px;
    line-height: 25px;
}

.container.ssv .p_input_view, .container.ssv .p_input {
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: 115%;
    min-height: 50px;
    font-size: 85%;
    overflow: hidden;
    border: none;
}

.container.ssv.sb_content .p_input_view, .container.ssv.sb_content .p_input {
    right: 105%;
}

.container.ssv .p_input {
    color: inherit;
    background-color: inherit;
    caret-color: inherit;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    padding-right: 5px;
    line-height: 20px;
}

.container.ssv .p_input_view {
    font-family: monospace;
    padding-right: 5px;
    display: inline-block;
    background-color: rgba(0,0,0,.03);
    line-height: 20px;
}

.container.sb_content {
    position: absolute;
    left: 180px;
}

#bg.writeable .para.active > .control {
    display: block;
}

.folded {
    display: none;
}

.folder .comment {
    font-size: 15px;
    font-weight: normal;
}

.env__heading .comment.fold_text::after {
    content: "section folded, [ ⇧ + f ] to unfold";
}

.comment.fold_text::after {
    content: "env folded, [ ⇧ + f ] to unfold";
}

.container:not(.ssv) .control {
    display: none;
    position: absolute;
    width: 15%;
    right: 100%;
    top: 0%;
    text-align: right;
    padding-right: 8px;
}

.container.ssv .control {
    display: none;
    position: absolute;
    width: 15%;
    right: 215%;
    top: 0%;
    text-align: right;
    padding-right: 8px;
}

.controlButs {
    display: none;
}

.control:hover .controlButs {
    display: block;
}

.control:hover .controlDots {
    display: none;
}

.controlDots {
    font-size: 90%;
}

button {
    font-size:70%;
    padding:1px 3px;
    width: 100%;
    margin-top: 3px;
}

/* DIV renderer stylying */

.comment {
    white-space: pre;
}

.env__equation:not(.rawtext) > .p_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.container.ssv > .env__equation > .p_text,
.container:not(.ssv) > .env__equation > .p_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eqnum {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    color: var(--font-col);
    border: 1px solid var(--font-col);
    width: 25px;
    height: 25px;
    border-radius: 2px;
    margin-right: 10px;
}

.eqn_cite {
    font-family: monospace;
    font-size: 90%;
    border: 1px solid var(--font-col);
    color: var(--font-col);
    border-radius: 2px;
    padding: 0 5px;
    margin: 0 1px;
}

.eqn_cite_ext::before {
    color: var(--font-col);
    content: '—';
}

.env__equation > .p_text .latex {
    flex: 1;
    text-align: center;
}

#pop .eqnum {
    display: none;
}

.ft_content{
    display: none;
}

.qed {
    position: absolute;
    right: 5px;
    bottom:0%;
}

.title {
    font-size: 35px;
    text-align: center;
}

.env__title {
    margin-bottom: 30px;
}

.env__heading_h1 {
    font-size: 25px;
}

.env__heading_h2 {
    font-size: 20px;
}

.env__heading_h3 {
    font-size: 15px;
}

.bib_heading {
    font-size: 25px;
}

.em {
    font-style: italic;
}

.list-item:before {
    content: "\2022\ ";
}

.list-item {
   text-indent: 15px;
}

.list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list.ordered {
   counter-reset: olist;
}

.list.ordered > .list-item:before {
    counter-increment: olist;
    content: counter(olist)". ";
}

.strong {
    font-weight: bold;
}

.theorem_header, .axiom_header, .definition_header {
    font-weight: bold;
}

.theorem_name, .axiom_name {
    font-weight: normal;
}

.theorem_name:before, .axiom_name:before {
    content: "(";
}

.theorem_name:after, .axiom_name:after {
    content: ")";
}

.proof_header {
    font-weight: bold;
}

.error_footer {
    color: var(--hl2-col);
    padding-top: 5px;
    padding-bottom: 5px;
}

.rawtext .error_footer {
    display: none;
}

.footnote {
    cursor: pointer;
}

.fig_cont {
    position: relative;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fig_cont > img {
    position: relative;
    left: 10%;
    width: 80%;
}

#bg.active.writeable .fig_cont:hover > .img_update {
    display: flex;
}

.fig_cont > .img_update {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 10%;
    height: 25px;
    width: 25px;
    color: var(--pop-fg-col);
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    cursor: default;
}

.fig_cont > .img_update:hover {
    background-color: lightgray;
}

.fig_cont > .img_err {
    color: var(--hl2-col);
    background-color: var(--pop-bg-col);
    padding: 5px;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 80%;
}

#pop > img {
    width: 200px;
}

.fig_cont > svg {
    position: relative;
    width: 80%;
    left: 10%;
}

.container.ssv .fig_cont > svg {
        width: 100%;
        left: 0;

}

.theme_col{
    stroke: var(--font-col)
}

#pop .theme_col{
    stroke: var(--pop-fg-col)
}

.fig_cap {
    position: relative;
    padding: 0px 20px 20px 20px;
    font-size: 85%;
    /* hacky, margin does */
}

.dropzone {
    border: 1px dashed var(--hl-col);
    text-align: center;
    padding: 20px;
    font-family: fira;
    cursor: default;
}

.dropzone.dragover {
    border: 2px dashed var(--hl-col);
    text-align: center;
    padding: 20px;
    font-family: fira;
}

.code > pre {
    padding-left: 5px;
    white-space: pre-wrap;
}

#bib_block {
    display: none;
    position: relative;
    left: 20%;
    width: 60%;
    min-height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: 70%;
}

#bib_block .cite {
    display: block;
}

.cite {
    margin-top: 15px;
    padding-left: 15px;
    text-indent: -15px;
}

.citekey {
    visibility: hidden;
    color: var(--hl-col);
}

.cite:hover .citekey {
    visibility: visible;
}

#pop {
    padding: 10px;
    position: absolute;
    z-index: 20;
    min-width: 250px;
    min-height: 30px;
    max-width: 400px;
}

#pop:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	margin-left: -10px;
}

#cc_pop {
    padding: 10px;
    position: absolute;
    z-index: 20;
    min-width: 150px;
    min-height: 30px;
    max-width: 400px;
}

.cc_row {
    display: none;
}

.cc_row:nth-child(-n+5) {
  display: block;
}

.head_level2 {
    padding-left: 20px;
    font-size: 80%;
}

.head_level3 {
    padding-left: 25px;
    font-size: 70%;
}

/* popup overrides */

#pop .eqnum {
    display: none;
}

#pop .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#pop.blurb_pop .title {
    margin-bottom: 5px;
}

#pop.blurb_pop > div {
    padding: 5px 0;
}

#pop.blurb_pop .fig_cont {
    padding: 0;
}

#pop.blurb_pop .fig_cap {
    padding: 0;
}

#pop.blurb_pop .katex-display {
    margin: 0;
}

#pop .env__heading_h1 {
    font-size: 20px;
}

/* sidebar */

#head {
    z-index: 30;
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    display: block;
    cursor: pointer;
    width: 50px;
}

#sidebar {
    display: none;
    position: absolute;
    font-size: 90%;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    padding-bottom: 10px;
    z-index: 1;
}

#sidebar_inner {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#options_title {
    font-size: 20px;
    border-bottom: 2px dashed black;
}

.options {
    padding-left: 10px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.option {
    margin-top: 20px;
    white-space: nowrap;
    right: 5px;
}

#toc_wrap {
    margin-top: 10px;
    flex:1;
    overflow-y: auto;
    min-height: 0;
    white-space: normal;
}

#toc{
    height: auto;
    padding-bottom: 45px;
    width: 100%;

}

#toc_title {
    padding-left: 10px;
    padding-top: 15px;
    border-top: 2px solid var(--font-col-int);
}

#sb_links{
    margin-bottom: 20px;
}

#sb_links_title {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 2px solid var(--font-col-int);
}

#sb_links > a {
    display: block;
    padding-left: 20px;
    margin-top: 7px;
}

.toc_entry {
    display: block;
    margin-top: 10px;
    padding-left: 20px;
}

.toc_entry.head_level2 {
    padding-left: 30px;
}

.toc_entry.head_level3 {
    padding-left: 40px;
}

/* para locking */

.para .lock_icon {
    display: none;
    position: absolute;
    padding: 5px;
    top: 0%;
    left: 100%;
    width: 25px;
    font-size: 14px;
    background-color: var(--hl2-col);
    border-radius: 0px 3px 3px 0px;
}

.para .lock_icon:before {
    content: '\1F512';
}

.para.locked .lock_icon {
    display: block;
}

.container .para.locked {
    /* background-color: var(--bg-hl-col); */
    border-right: 2px solid var(--hl2-col);
    opacity: 0.6;
}

/* drop down */

.center {
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%);
}

/* Custom Select */

.custom-select-wrapper {
    display: inline-block;
    user-select: none;
    position: absolute !important;
    right: 10px;
    font-size: 90%;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;box\-shadow: \-1px 0px var\(\-\-hl\-col\);
    display: inline-block;
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 100px;
    padding: 0 50% 0 5%;
    line-height: 160%;
    border-radius: 0px;
    cursor: pointer;
}

.custom-select-trigger:after, #logo:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%; right: 10px;
    margin-top: -3px;
    transform: rotate(45deg) translateY(-50%);
    transition: all .2s ease-in-out;
    transform-origin: 50% 0;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: var(--hl2-col);
}

#logo:after {
    transform: translateY(120%) translateX(-100%) rotate(-45deg);
    width: 20px;
    height: 20px;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-color: var(--hl2-col);
}

#logo.opened:after {
    transform: translateY(120%) translateX(0%) rotate(45deg);
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 99;
  }

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 5px;
    line-height: 160%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.custom-option:last-of-type {
    border-bottom: 0;
}

#hist {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: var(--bg-hl2-col);
    border-top: 2px solid var(--hl-col);
}

#revert_hist {
    display: none;
}

#revert_hist.selected {
    display: inline;
}

#bg.readonly #revert_hist {
    display: none;
}

#bg.history #prog_bar,
#bg.history #ssv_text,
#bg.history #ssv_label,
#bg.history #edit_text,
#bg.history #edit_label
{
    display: none;
}

.hist_pop {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: var(--pop-bg-col);
    color:   var(--pop-fg-col);;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 3;
}

/* history */

circle.commit {
    fill: var(--hl2-col);
}

circle.commit:hover {
    fill: var(--font-col-int);
}

circle.commit.active {
    fill: var(--hl-col);
}

#prog_bar {
    position: absolute;
    top:-1px;
    left:-1px;
    width:0%;
    height: 1px;
    background-color: var(--font-col-int);
}

#prog_bar:after {
  content: "";
  position: absolute;
  right: 0px;
  top: .5px;
  transform:translate(50%,-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--font-col-int);
}

#export_options {
    display: none;
    position: absolute;
    width: 80px;
    bottom: 150%;
    right: 5px;
    background-color: var(--bg-hl2-col);
    padding: 0px 5px 0px 5px
}

.export_butt {
    width: 100%;
    min-height: 20px;
    font-size: 110%;
    margin: 5px 0px 5px 0px;
    background-color: var(--bg-hl-col);
    border: 1px solid var(--delimit-col);
    font-size: 90%;
}

#export_options:after {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bg-hl2-col) transparent transparent transparent;
    bottom: -20px;
    left: 40%;
}

#edit_text {
    min-width: 60px;
    text-align: right;
}

.toggle-track {
    height: 25px;
    width: 45px;
}

.toggle-indicator {
    height: 19px;
    width: 19px;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
	transform: translateX(20px);
}


/* tables */

.table {
    display: table;
}

.table-header {
    display: table-header-group;
}

.table-header .table-cell {
    font-weight: bold;
    border-bottom: 1px solid var(--font-col);
}

.table-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 3px 10px;
}

/* help overlay */

#help {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 50;
    display: none;
    font-size: 14px;
}

#help_inner {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 10%;
    left: 7.5%;
    width: 85%;
    height: 75%;
    background-color: var(--bg-col);
    border: 1px solid var(--font-col);
    border-radius: 5px;
    padding: 5px;
}

.help_row {
    width: 32.8%;
    margin: 3px;
    height: 30px;
}

.help_cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px 3px 3px 5px;
}

.help_empty {
}

.help_header {
    font-weight: bold;
    text-align: center;
    padding: 7px;
}

.help_key {
    display: flex;
    border: 1px solid var(--font-col);
    border-radius: 5px;
}

.key_combo {
    width: 35%;
    text-align: center;
    background-color: var(--bg-hl2-col);
    border-right: 1px solid var(--font-col);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.key_desc {
    width: 65%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.help_syntax {
    display: flex;
    border: 1px solid var(--font-col);
    border-radius: 5px;
}

.syntax_code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    text-align: center;
    background-color: var(--bg-hl2-col);
    border-right: 1px solid var(--font-col);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.syntax_desc {
    width: 65%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*  NARROW CSS */

@media only screen and (max-width: 1000px) {

.container:not(.ssv) .para {
    left: 0%;
    width: 74%;
    min-height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#sidebar {
    min-width: 250px;
    width: 100%;
    height: 100%;
    padding: 5%;
    z-index: 10;
}

.custom-select-wrapper {
    right: 15%;
}

}

@media only screen and (max-width: 1000px) and (max-device-width: 1000px) {

.container:not(.ssv) .control {
    display: none;
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0%;
    top: unset;
    bottom: 0;
    text-align: right;
    padding-right: 0;
    z-index: 3;
    background-color: var(--bg-hl2-col)
}

.container:not(.ssv) .control {
    display: none;
}

#bg.writeable .para.active > .control {
    display: block;
}

.container:not(.ssv) .controlButs {
    padding-top: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.container:not(.ssv) .controlButs > button {
    display: inline-block;
    width: unset;
    height: 25px;
    margin: 3px;
    flex-basis: 10px;
    flex-grow: 1;
    border: 1px solid var(--delimit-col)
}

.control:hover .controlButs {
    display: flex;
}

.controlDots {
    display: none;
}

#pop {
    padding: 10px;
    position: absolute;
    z-index: 20;
    width:100%;
    max-width: unset;
    min-height: 60px;
    left: 0;
    bottom: 40px;
    border-radius: 0 !important;
}

#export_options {
    right: 30px;
}

#help {
    font-size: 11px;
}

.help_row {
    width: 48%;
    margin: 1px;
    height: 22px;
}

#ssv_text, #ssv_label, #ssv_check {
    display: none;
}

}
