#bib_input{
    position: fixed;
    resize: none;
    width: 50%;
    left: 25%;
    bottom: 10%;
    height: 20%;
    border-bottom: 1px solid var(--bor-col);
}


#create{
    position: fixed;
    right: 25%;
    top: 90%;
    width: 10%;
    border-top: none;
    background-color: white;
}

.cite {
  position: relative;
  width: 60%;
  left: 20%;
  margin-bottom: 10px;
  padding-left: 22px ;
  text-indent: -22px ;
} 

#para_holder{
    position: fixed;
    font-size: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    height: 55%;
    overflow: scroll;
    scrollbar-width: none;

}

.citekey{
    visibility: hidden;
    color: var(--hl-col)
}

.cite:hover .citekey{
    visibility: visible;
}

.control {
    position: absolute;
    width: 15%;
    right: 100%;
    top: 0%;
    text-align: right;
    padding-right: 8px;
}

.controlButs {
    display: none;
}

.control:hover .controlButs {
    display: block;
}

.control:hover .controlDots {
    display: none;
}
.controlDots {
    color: black;
    font-size: 90%;
}

button {
    font-size:80%;
    padding:1px 3px;
    width: 100%;
    margin-bottom: 5px;
}



