@font-face {
    font-family: 'CM';
    src: url(/static/fonts/lmroman10-regular.otf);
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--hl2-col);
}

textarea, input, .p_input_view {
    resize: none;
    border: none;
    padding: 2px;
    padding-left: 5px;
}

textarea:focus, input:focus {
    outline: none !important;
    /* border: 2px solid red; */
}

#head {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#foot {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    font-size: 70%;
    background-color:  var(--bg-hl2-col);
    font-family: 'Open Sans', sans-serif;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--bg-col)
}

#content, #preview {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 100px;
}

#content:focus {
    outline: 0;
}

#preview {
    display: none;
}

#preview > .para > .control {
    display: none;
}

/* css is so fucking dumb */
#content:after, #preview:after {
    content: "";
    display: block;
    height: 150px;
}

button {
    font-family : inherit;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

a.reference {
    color: var(--hl2-col);
    text-decoration: none;
}

#hoot {
    margin-right: 50px;
}

#axell {
    margin-left: 5px;
    margin-right: 10px;
}

#axell > svg {
    font-family: serif;
    opacity: 0.6;
    margin-bottom: -5px;
}

#toggle_ll {
   width: 100px;
}

#title {
    font-family: CM;
}

.foot_butt {
    display: inline;
    font-size: 90%;
    border: 1px solid var(--delimit-col);
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    top: 0;
    width: 70px;
}

.push {
    margin-left: auto;
}

#locallogin {
    display: none;
    position: absolute;
    width: 30%;
    bottom: 150%;
    left: 5%;
    background-color: var(--bg-hl2-col);
    padding: 15px;
    padding-top: 15px;
}

.login_field > input, .login-button, .notification {
    width: 100%;
    min-height: 45px;
    margin-bottom: 10px;
    font-size: 110%;
}

.login-button {
    margin: 20px 10px 0px 0px;
    background-color: var(--delimit-col);
}


#locallogin:after {
    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: var(--bg-hl2-col) transparent transparent transparent;
    bottom: -25px;
    left: 35%;
}

.inline_form {
    display: inline;
    float: left;
}

/*  MOBILE CSS */


 @media only screen and (max-width: 815px) {

 #foot {
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    height: 40px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 70%;
    background-color:  var(--bg-hl2-col);
}

#hoot {
    position: absolute;
    bottom: 2px;
    left: 30px;
}

#user_display {
    margin-right: 10px;
    position: absolute;
    bottom: 2px;
    left: 150px;
}

.foot_butt {
    display: inline;
    font-size: 100%;
    border: 1px solid var(--delimit-col);
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 18px;
    top: 0;
    width: 70px;
}

#toggle_ll {
   width: 100px;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--bg-col)
}

#content {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 70px;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 80%;
}

#locallogin {
    width: 90%;
}

#locallogin:after {
    left: 10%;
}

}
