:root{
    --bg-col: whitesmoke;
}

@font-face {
font-family: 'CM';
src: url(/static/fonts/lmroman10-regular.otf);
}

@font-face {
    font-family: 'CM';
    src: url("/static/fonts/lmroman10-bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: 'CM';
    src: url("/static/fonts/lmroman10-italic.otf");
    font-style: italic;
}

body{
  /* font-family: CM; */
}

*{
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#head {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /* border-bottom: 1px solid black; */
}

#foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 70%;
    /* border-top: 1px solid black; */
}

#bg {
    background-color: var(--bg-col);
}

#content {
    overflow-y: scroll;
    height: 100%;
    width: 700px;
    margin: auto;
    scrollbar-width: none;
    padding-top: 50px;
    padding-bottom: 50px;
}
