:root {
    --bg-col: #073642;
    --top-col: #002b36;
    --bor-col: #6c71c4; /* border and link color */
    --hl-col: #859900; /* highlight color */
    --bor-foc-col:  	#dc322f ; /* highlight color */
    --pop-fg-col:  	#002b36; /* popup text color */
    --pop-bg-col: #93a1a1; /* popup background color */
    --bg-font: 15px; /* popup background color */
    --font-col: #93a1a1;
    --font-col-int: #b58900 ;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/FiraCode.ttf') format('truetype');
}

body {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    color: var(--font-col);
}

button {
    background-color: var(--pop-bg-col);
    border:1px solid var(--bor-col);
    display:inline-block;
    cursor:pointer;
    color:gray;
}

button:hover {
    background-color:darkgray;
}

.active:hover {
    border-left: 2px solid var(--hl-col);
}

#head {
  /* background-color: var(--top-col); */
  /* z-index: 999; */
}

#foot {
  /* background-color: var(--bg-col); */
  /* z-index: 999; */
}

.footnote{
  color: var(--bor-col);
}

.code{
  font-family: Fira;
  font-size: 90%;
  color: var(--bor-col);
  text-indent: 15px;
  background-color: var(--top-col);
}

.ref_error {
    background-color: var(--font-col);
    color:  var(--bor-foc-col);
}

.toc_entry{
 color: var(--hl-col);
}
