#prompt{
  display:none;
}

#new_art_id{
  position: fixed;
  width: 44%;
  left: 20%;
  min-height: 50px;
  font-size: 130%;
}

#submit{
  position: fixed;
  width: 15%;
  right: 20%;
  min-height: 50px;
  font-size: 130%;
}


.art_result{
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
}


#results{
  position: fixed;
  font-size: 120%;
  width: 60%;
  left: 20%;
  top: 25%;
}

.blurb{
  margin-top: 5px;
  font-size: 60%;
}