#prompt {
    position: relative;
    width: 100%;
    min-height: 50px;
    top: -10%;
    text-align: center;
}

.notification {
    position: relative;
    width: 100%;
    min-height: 50px;
    top: -10%;
    text-align: center;
}

#title {
    font-size: 250%;
}

#query {
    position: fixed;
    min-height: 40px;
    font-size: 130%;
    left: 20%;
    top: 30%;
    width: 49%;
}

#full_text {
    position: fixed;
    right: 31%;
    top: 30%;
    height: 40px;
}

#submit {
    position: fixed;
    height: 40px;
    font-size: 100%;
    right: 20%;
    top: 30%;
    width: 10%;
}

::-moz-placeholder { /* Firefox 19+ */
    color: var(--hl-col);
    font-size: 60%;
}

::-webkit-input-placeholder {
    color: var(--hl-col);
    font-size: 60%;
}

.result {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
}

#results_outer {
    position: fixed;
    font-size: 120%;
    left: 20%;
    top: 40%;
    width: 60%;
    height: 50%;
}

#results {
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

.blurb {
    margin-top: 5px;
    font-size: 60%;
}

.par_title {
    font-size: 60%;
    font-family: monospace;
    font-weight: bold;
}

.par_text {
    font-family: monospace;
    font-size: 60%;
}

.box {
    position: fixed;
    width: 40%;
    top: 35%;
    left: 30%;
    background-color: var(--bg-hl2-col);
    padding: 15px;
    padding-top: 15px;
}

.notification {
    padding: 3px;
    text-align: center;
}

.result {
    border-left: 2px solid var(--bg-col);
}

.result.selected {
    border-left: 2px solid var(--hl-col);
}

/* check mark */

.toggle {
	align-items: center;
	display: flex;
    font-size: 70%;
}

.toggle__input {
    display: none;
}

.toggle-track {
	background: var(--bg-col);
	border: 1px solid black;
	border-radius: 100px;
	cursor: pointer;
	display: flex;
	height: 30px;
	margin-right: 10px;
    margin-left: 10px;
	position: relative;
	width: 56px;
}

.toggle-indicator {
	align-items: center;
	background: var(--bg-hl2-col);
	border-radius: 24px;
	bottom: 2px;
	display: flex;
	height: 24px;
	justify-content: center;
	left: 2px;
	position: absolute;
	transition: 200ms;
	width: 24px;
}


.toggle__input:checked + .toggle-track .toggle-indicator {
	background: var(--bg-hl2-col);
	transform: translateX(25px);

}

.toggle__input:checked + .toggle-track {
    border: 1px solid var(--font-col-int);
}

.toggle__input:checked + .toggle-track .checkMark {
		opacity: 1;
		transition: opacity 200ms ease-in-out;
	}

.checkMark {
	fill: var(--bg-hl-col);
	height: 20px;
	width: 20px;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

@media only screen and (max-width: 815px) {

#prompt {
    position: absolute;
    width: 100%;
    min-height: 50px;
    top: 5%;
    text-align: center;
}

#title {
    font-size: 300%;
}

#query {
    position: fixed;
    font-size: 130%;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 7%;
}

#submit {
    position: fixed;
    width: 20%;
    right: 10%;
    height: 30px;
    font-size: 110%;
    top: 29%;
    border-radius: 24px;
    border: 1px solid black;
    background-color: var(--bg-col);
    font-weight: 100;
}

#full_text {
    position: fixed;
    right: 31%;
    top: 29%;
    height: 30px;
}


.result {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
}

#results {
    position: fixed;
    font-size: 110%;
    width: 80%;
    left: 10%;
    top: 35%;
}

.blurb {
    margin-top: 10px;
    font-size: 70%;
}

.box {
    position: fixed;
    width: 80%;
    top: 30%;
    left: 10%;
    background-color: var(--bg-hl2-col);
    padding: 15px;
    padding-top: 15px;
}

}
