@import 'home.css';

#img_search {
    position: fixed;
    width: 49%;
    left: 20%;
    min-height: 40px;
    font-size: 130%;
    top: 20%;
    background-color: var(--bg-hl-col);
}

#img_submit {
    position: fixed;
    width: 10%;
    right: 20%;
    min-height: 40px;
    font-size: 130%;
    top: 20%;
}

#img_results_outer {
    position: fixed;
    left: 20%;
    top: 30%;
    width: 60%;
    height: 60%;
}

#img_results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

.img_cont {
    display: flex;
    height: 150px;
    width: 32.5%;
    margin: 3px; /* (100-32*3)/2 */
    border: 2px solid gray;
    cursor: pointer;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.keyspan {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    padding: 6px;
}

.keyspan:after {
    content: ' 📋';
}

.keyspan.copied:after {
    content: ' ✓';
}

.img_cont:hover > .keyspan {
    display: block;
}

.dropzone {
    border: 1px dashed var(--hl-col);
    align-items: center;
    justify-content: center;
    font-family: fira;
    text-align: center;
}

.dropzone.dragover {
    border: 2px dashed var(--hl-col);
}

#display {
    display: none;
    position: fixed;
    background-color: gray;
    height: 85%;
    width: 60%;
    top: 5%;
    left: 20%;
}

#display_update {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#display_update > input {
    position: relative;
    background-color: var(--bg-hl-col);
    color: var(--font-col-int);
    min-height: 30px;
    margin-bottom: 10px;
    left: 15%;
    font-size: 100%;
}

#display_img {
    position: absolute;
    width: 0%;
    left: 0%;
    max-height: 85%;
}

.keywordtitle {
    position: absolute;
    width: 15%;
    padding-top: 5spx;
    padding-right: 6px;
    left: 0%;
    text-align: right;
    font-size: 70%;
}

#key {
    width: 50%;
}

#keywords {
    width: 70%;
}

#img_update {
    position: absolute;
    bottom: 0;
    top: unset;
    margin-bottom: 10px;
    width: 18%;
    right: 15%;
    height: 30px !important;
    font-size: 100%;
}
