/* markum css core */

@import './katex.css';
@import './gum.css';

.block {
    padding: 5px;
}

.bold-inline {
    font-weight: bold;
}

.italic-inline {
    font-style: italic;
}

.code-inline {
    font-family: monospace;
}

.title-block {
    font-size: 32px;
    font-weight: bold;
}

.h1-block {
    font-size: 24px;
    font-weight: bold;
}

.list-block > ul,
.list-block > ol {
    padding-left: 30px;
}

.comment-block > span {
    color: #999;
}

.comment-block > span::before {
    content: '// ';
}

.equation-block {
    text-align: center;
}

.gum-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
