/* markum css core */

@import './katex.css';
@import './gum.css';

.block {
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.code {
    font-family: monospace;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.heading {
    font-weight: bold;
}

.heading-1 {
    font-size: 24px;
}

.heading-2 {
    font-size: 20px;
}

.heading-3 {
    font-size: 16px;
}

.list > ul,
.list > ol {
    padding-left: 30px;
}

.comment {
    color: #999;
}

div.math {
    text-align: center;
}

.figure, .table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

table th {
    border-bottom: 2px solid black;
    padding: 5px;
}
