{% extends "axiom.html" %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/axiom.css') }} />

<script src="{{ url_for('static', filename='libs/socket.io.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='libs/d3.v5.min.js') }}" type="text/javascript"></script>

{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block header %}

<div id="head">
<span id="logo"></span>
</div>

<div id="sidebar">
<div id="sidebar_inner">

<div class="options">

<div class="option">
Theme
<select id="theme_select" name="theme_select" class="sources" placeholder="default">
    {% for t in themes %}
    <option value="{{t}}">{{t}}</option>
    {% endfor %}
</select>
</div>

<div class="option">
Font
<select id="font_select" name="font_select" class="sources" placeholder="default">
    <option value="default">default</option>
    <option value="serif">serif</option>
    <option value="sans-serif">sans-serif</option>
    <option value="monospace">monospace</option>
    <option value="sim">simpsons</option>
</select>
</div>

</div>

<div id="sb_links">

<div id="sb_links_title">Helpful Links</div>
<a href={{ url_for('RenderBib') }}>Bibliography</a>
<a href={{ url_for('RenderArticle', title='howto') }}>Documentation</a>
<a href={{ url_for('Img') }}>Image Lib</a>

</div>

<div id="toc_title">Contents</div>
<div id=toc_wrap><div id="toc"></div></div>

</div>
</div>

<div id="help">
<div id="help_inner"></div>
</div>

{% endblock %}

{% block content %}

{% for p in paras %}
<div class="para" pid="{{p.pid}}" raw="{{p.text}}" fold_level="0"></div>
{% endfor%}
<div id="bib_block"><div class="bib_heading">References</div></div>

{% endblock %}

{% block foot %}

<div id="prog_bar"></div>
<div id="hist"></div>

<span class="push"></span>
<button id="revert_hist" class="foot_butt">Revert</button>
<button id="show_hist" class="foot_butt">History</button>
<button id="export" class="foot_butt">Export</button>

<div id="export_options" class="box">
<button id="export_tex" class="export_butt">TeX</button>
<button id="export_md" class="export_butt">MarkDown</button>
</div>

{% endblock %}

{% block init %}

<script type="module">
import { loadArticle } from '{{ url_for('static', filename='js/article.js') }}';
loadArticle({{
{
    'config': {
        'theme': theme,
        'font': font,
        'timeout': timeout,
        'max_size': max_size,
        'readonly': readonly,
        'title': title,
        'aid': aid,
    },
    'cache': {
        'ref': ref_list,
        'bib': bib_list,
    },
    'update_refs': g_ref,
    'pid': pid,
} | tojson
}});
</script>

{% endblock %}
