<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}

    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/core.css') }} />
    {% if theme %}
    <link id="theme" type="text/css" rel="stylesheet" href={{url_for('static', filename='themes/'+theme+'.css')}} />
    {% endif %}
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/katex.min.css') }} />

    <script src={{ url_for('static', filename='js/jquery-3.5.0.min.js') }}> </script>
    <script src={{ url_for('static', filename='js/katex.min.js') }}></script>
    <script src={{ url_for('static', filename='js/all.js') }} language="Javascript" type="text/javascript"></script>
    <script type="text/javascript">var mobile = window.matchMedia('(max-width: 815px)').matches</script>

    {% endblock %}

    <title> {% block title %}{% endblock %} </title>
</head>

<body>
    <div id="bg" {% if not edit %}class="readonly"{% endif %}>

        {% block header %}{% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="preview">
        </div>

        <div id="foot">
            <span id="hoot">[201p // iamlemec]</span>
            {% block foot_login %}
            {% if login %}
            {% if current_user.is_authenticated %}
                <span id="user_display">User: {{ current_user.name }}</span>
                <form class=inline_form method="POST" action="/logout_user">
                    <button class="foot_butt">Log Out</button>
                </form>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <button class="foot_butt" id="toggle_ll">LogIn to Edit</button>
                <div id=locallogin>
                <form method="POST" action="/login_user">
                <div class="login_field">
                    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
                </div>

                <div class="login_field">
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
                <input type="hidden" name="next" value="this"/>
                <button class="login-button">Log In</button>
                </form>
                </div>
            {% endif %}
            {% endif %}
            {% endblock %}
            {% block foot %}
            {% endblock %}

        </div>

    </div>
</body>
</html>
