{% extends "elltwo.html" %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/bib.css') }} />

{% endblock %}

{% block title %}Bib{% endblock %}

{% block header %}


<div id=prompt>
<span id=title>{{name|safe}} Bibliography</span>
</div>

<input type="text" autocomplete="off" autofocus="autofocus" name="query" id="query" placeholder="Search existing references" />
<button id="search">Search</button>


<label class="toggle" for="local_search_check" id="local_search">
Web Search
<input type="checkbox" class="toggle__input" name="local_search" id="local_search_check"/>
<span class="toggle-track"><span class="toggle-indicator"><span class="checkMark">
<svg width="20" height="20">
<use xlink:href="{{ url_for('static', filename='img/toggle_button.svg') }}#svg-check"></use>
</svg>
</span></span></span>
</label>
{% endblock %}

{% block content %}

<div id=para_holder>
</div>

<div id=search_results>
<div id=s_heading>Search Results</div>
</div>

<div id=create_wrap>
<textarea id="bib_input" placeholder="Enter bibtex directly..."></textarea>

<div id='search_button_wrap'>
<button id="create">Create</button>
</div>
</div>

<script src={{ url_for('static', filename='libs/socket.io.min.js') }} language="Javascript" type="text/javascript"></script>
<script src={{ url_for('static', filename='js/bibtexParse.js') }} language="Javascript" type="text/javascript"></script>

<script type="module">
import { initBib } from '{{ url_for('static', filename='js/bib.js') }}'
initBib();
</script>

{% endblock %}

{% block foot %}{% endblock %}
