<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}

    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='favicon/apple-touch-icon.png') }}>
    <link rel="icon" href="{{ url_for('static', filename='favicon/elltwo.svg') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='katex/katex.min.css') }}">

    {% if theme %}
    <link id="theme" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='themes/'+theme+'.css') }}">
    {% endif %}

    <script src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>

    {% endblock %}

    <title> {% block title %}{% endblock %} </title>

</head>

<body>

    <div id="bg">

        {% block header %}{% endblock %}

        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>

        <div id="preview" class="container">
        </div>

        {% block post_content %}{% endblock %}

        <div id="foot">
            <a id="axell" href="/">
            <img src="{{ url_for('static', filename='favicon/elltwo.svg') }}" width="16" height="16"/>
            </a>

            <span id="hoot">[201p // iamlemec]</span>

            {% block foot_login %}
            {% if login %}
            {% if current_user.is_authenticated %}
                <span id="user_display">User: {{ current_user.name }}</span>
                <form class=inline_form method="POST" action="/logout_user">
                    <button class="foot_butt">Log Out</button>
                </form>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <button class="foot_butt" id="toggle_ll">LogIn to Edit</button>
                <div id=locallogin>
                <form method="POST" action="/login_user">
                <div class="login_field">
                    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
                </div>

                <div class="login_field">
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
                <input type="hidden" name="next" value="this"/>
                <button class="login-button">Log In</button>
                </form>
                <a href="{{ url_for('Forgot') }}">Forgot Password</a>? Or, <a href="{{ url_for('Signup') }}">create</a> an account.
                </div>
            {% endif %}
            {% endif %}
            {% endblock %}

            {% block foot %}
            {% endblock %}

        </div>

    </div>
    <div id=confirm_popup><div id="cp_inner"></div></div>


    {% block init %}
    {% endblock %}

</body>

</html>
