{% extends "axiom.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/error.css') }} />
    <script src={{ url_for('static', filename='js/error.js') }} language="Javascript" type="text/javascript"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div id="banner">
    <span id="title">Axiom <span class="latex">\ell^2</span></span>
    <br>
    Simple Beautiful Collabrative
    </div>

    <div id="error">{{ message }}</div>
{% endblock %}
