

{% extends "axiom.html" %}
{% block title %}Ax.home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
{% endblock %}
{% block header %}<div id='head'>ax.home</div>{% endblock %}
{% block content %}
        <div id=prompt>Create:</div>
    <form method='POST' enctype='multipart/form-data' action='/create'>
    <input type="text" autocomplete="off" autofocus="autofocus"
    name="new_art" id="new_art_id"><input type="submit" value="Create"
    class=submit id=submit>
    </form>
{% endblock %}
