{% extends "elltwo.html" %}

{% block title %}elltwo{% endblock %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />

<script src={{ url_for('static', filename='libs/socket.io.min.js') }} language="Javascript" type="text/javascript"></script>

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification">{{ messages[0] }}</div>
{% endif %}
{% endwith %}


<input type="text" autocomplete="off" autofocus="autofocus" name="query" id="query" placeholder="Search existing articles or create a new one" />

<div id="prompt">
<span id="title">
{{name|safe}}
</span>
<br>
{{tag|safe}}
</div>


<label class="toggle" for="full_text_check" id="full_text">
Full Text Search
<input type="checkbox" class="toggle__input" name="full_text" id="full_text_check"/>
<span class="toggle-track"><span class="toggle-indicator"><span class="checkMark">
<svg width="20" height="20">
<use xlink:href="{{ url_for('static', filename='img/toggle_button.svg') }}#svg-check"></use>
</svg>
</span></span></span>
</label>

<button class="create" id="submit">Create</button>

<div id="results_outer"><div id="results"></div></div>

{% endblock %}

{% block init %}

<script type="module">
import { initHome } from '{{ url_for('static', filename='js/home.js') }}'
initHome({{
{} | tojson
}});
</script>

{% endblock %}
