{% extends "axiom.html" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">
    max_size = '{{max_size}}';
    imgs = {{imgs|tojson}};
    readonly = !{{edit|tojson}};
</script>
  <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
  <script src={{ url_for('static', filename='libs/socket.io.js') }} language="Javascript" type="text/javascript"></script>
  <script src={{ url_for('static', filename='js/img.js') }} language="Javascript" type="text/javascript"></script>
  <script src={{ url_for('static', filename='js/client.js') }} language="Javascript" type="text/javascript"></script>
{% endblock %}

{% block title %}Img{% endblock %}

{% block header %}{% endblock %}

{% block content %}


    <div id=prompt>
    <span id=title><span class=latex>\ell^2</span> Image Library </span>
    </div>

    <input type="text" autocomplete="off" autofocus="autofocus" name="img_search" id="img_search" placeholder="Search existing images">
    <button class=submit id=img_submit>Search</button>

    <div id=img_results>
      <div id=dropzone class='img_cont dropzone'>Drop Image or Click to Upload</div>
<!--       {% for key in imgs%}
      <div class='img_cont img_src' src={{key}}></div>
      {% endfor %} -->
    </div>

    <div id=display>
      <img id=display_img></img>
      <div id=display_update>
      <div class=keywordtitle>Keywords: </div><input type="text" autocomplete="off" autofocus="autofocus" name="keywords" id="keywords" placeholder=""><br>
      <div class=keywordtitle>Image Key: </div><input type="text" autocomplete="off" autofocus="autofocus" name="key" id="key" placeholder="">
    </div>
    <button id=img_update>Update</button>
    </div>


{% endblock %}

{% block foot %}{% endblock %}
