{% extends "elltwo.html" %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/img.css') }} />
<script src={{ url_for('static', filename='libs/socket.io.min.js') }} type="text/javascript"></script>

{% endblock %}

{% block title %}Img{% endblock %}

{% block header %}
<div id="prompt">
<a href="/"><span id="title">{{name|safe}}</span></a>
<div id="desc">Image Library</div>
</div>

<input type="text" autocomplete="off" autofocus="autofocus" name="img_search" id="query" placeholder="Filter existing images" />
{% endblock %}

{% block content %}
<div id="img_results_outer">
    <div id="img_results">
        <div id="dropzone" class="img_cont dropzone">Drop Image or Click to Upload</div>
        <div id="open_svg_editor" class="img_cont">Click to Open SVG editor</div>
    </div>
    </div>
</div>

<div id="display">
    <img id="display_image"></img>
    <div id="display_upload">
        <svg><use xlink:href="{{ url_for('static', filename='img/icons.svg') }}#upload"></use></svg>
    </div>
    <div id="display_update">
        <div class="keywordtitle">Keywords: </div><input type="text" autocomplete="off" autofocus="autofocus" name="keywords" id="keywords" placeholder=""><br>
        <div class="keywordtitle">Image Key: </div><input type="text" autocomplete="off" autofocus="autofocus" name="key" id="key" placeholder="">
    </div>
    <button id="img_update">Update</button>
    <button id="img_delete">Delete</button>
</div>

{% endblock %}

{% block foot %}

<span class="push"></span>


{% endblock %}

{% block init %}

<script type="module">
import { initImage } from '{{ url_for('static', filename='js/img.js') }}'
initImage({{
{
    'config': {
        'readonly': readonly,
        'max_size': max_size,
        'max_imgs': max_imgs,
    },
} | tojson
}});
</script>

{% endblock %}
