{% extends "elltwo.html" %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/index.css') }} />

<script src="{{ url_for('static', filename='libs/socket.io.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='libs/d3.v5.min.js') }}" type="text/javascript"></script>

{% endblock %}

{% block title %}elltwo{% endblock %}

{% block header %}

<div id=head_block>
<div id="prompt">
<span id="title">
{{name|safe}}
</span>
<br>
{{tag|safe}}
</div>
</div>

<div id=example_options>
<span id="ssv">Side-by-Side View</span>
<label class="toggle" for="ssv_check" id="ssv_label">
<input type="checkbox" class="toggle__input" name="ssv" id="ssv_check" checked/>
<span class="toggle-track"><span class="toggle-indicator"><span class="checkMark">
<svg width="20" height="20">
<use xlink:href="{{ url_for('static', filename='img/toggle_button.svg') }}#svg-check"></use>
</svg>
</span></span></span>
</label>
</div>

{% endblock %}

{% block content %}
{% endblock %}

{% block post_content %}
<div id=features>
    <div class=feature feature=hyperlinks>
            <div class=feature_copy>
            <bf>Intelligent Referencing</bf> Easily create references to equations, figures, and environments. elltwo will generate popup style links to help readers parse reference heavy documents without leaving the page.
            </div>
            <img feature=hyperlinks class=ad_img src="{{ url_for('static', filename='adverts/hyperlinks.png') }}"/>
    </div>
</div>
{% endblock %}


{% block init %}

<script type="module">
import { initIndex } from '{{ url_for('static', filename='js/index.js') }}';
initIndex();
</script>

{% endblock %}
