{% extends "elltwo.html" %}

{% block title %}Login{% endblock %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='katex/katex.min.css') }} />

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div id="prompt">
<span id="title">
{{name|safe}}
</span>
<br>
{{tag|safe}}
</div>


{% if not current_user.is_authenticated %}
<div class="box">

<div class="login_help">
Log in to enable editing or <a href="{{ url_for('Signup') }}">create an account</a>.<br>
Forgot your password? <a href="{{ url_for('Forgot') }}">Click here to reset it</a>.
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification">{{ messages[0] }}</div>
{% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('LoginUser') }}">
    <div class="login_field">
    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
    </div>

    <div class="login_field">
    <input class="input" type="password" name="password" placeholder="Password">
    </div>

    <input type="hidden" name="next" value="{{next}}"/>
    <button class="login-button">Log In</button>
</form>
</div>
{% endif %}

{% include "already.html" %}

<script type="module">
import { renderKatex } from '{{ url_for('static', filename='js/math.js') }}'
renderKatex();
</script>

{% endblock %}

{% block foot_login %}{% endblock %}
