{% extends "elltwo.html" %}

{% block title %}Reset{% endblock %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='katex/katex.min.css') }} />

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div id="prompt">
<span id="title">
{{name|safe}}
</span>
<br>
{{tag|safe}}
</div>


{% if not current_user.is_authenticated %}
<div class="box">
Reset password for {{email}}
<br><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification">{{ messages[0] }}</div>
{% endif %}
{% endwith %}
<form method="POST" action={{ url_for('ResetWithToken', token=token) }}>
    <div class="login_field">
    <input class="input" type="password" name="password" placeholder="New Password" autofocus="">
    </div>
    <button class="login-button">Reset Password</button>
</form>
</div>
{% endif %}

{% if current_user.is_authenticated %}
<div class="box">
<div class="notification">
You are logged in as {{ current_user.name }}, log out?
</div>
<form method="POST" action="/logout_user">
    <input type="hidden" name="next" value="{{next}}"/>
    <button class="login-button">Log Out</button>
</form>
</div>
{% endif %}

<script type="module">
import { renderKatex } from '{{ url_for('static', filename='js/math.js') }}'
renderKatex();
</script>

{% endblock %}

{% block foot_login %}{% endblock %}
