{% extends "axiom.html" %}
{% block title %}Sign Up{% endblock %}

{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='katex/dist/katex.min.css') }} />
    <script src={{ url_for('static', filename='js/socket.io.js') }} language="Javascript" type="text/javascript"></script>
    <script src={{ url_for('static', filename='js/client.js') }} language="Javascript" type="text/javascript"></script>
    <script src={{ url_for('static', filename='js/home.js') }} language="Javascript" type="text/javascript"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    {% if not current_user.is_authenticated %} 
    <div id=prompt><span id=title>Axiom <span class=latex>\ell^2</span></span>
        <br>
        Simple Beautiful Collabrative 

        <br><br><br><br>

        Create a login to enable editing. Already have an account? <a href="{{ url_for('Login') }}">Sign In</a>.
     </div>
        <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('Login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/create_user">
                <div class="login_field">
                    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
                </div>

                <div class="login_field">
                    <input class="input" type="text" name="name" placeholder="Name" autofocus="">
                </div>

                <div class="login_field">
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>

            <button class="login-button">Sign Up</button>
        </form>
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
        <div id=prompt><span id=title>Axiom <span class=latex>\ell^2</span></span>
        <br>
        Simple Beautiful Collabrative  
     </div>
            <div class="box">
            <div class="notification">
                You are logged in as {{ current_user.name }}, log out?
            </div>
        <form method="POST" action="/logout_user">

            <input type="hidden" name="next" value="{{next}}"/>

            <button class="login-button">Log Out</button>
        </form>
        </div>
    {% endif %}
{% endblock %}

{% block foot_login %}{% endblock %}
