{% extends "elltwo.html" %}

{% block title %}Sign Up{% endblock %}

{% block head %}

{{ super() }}

<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link type="text/css" rel="stylesheet" href={{ url_for('static', filename='katex/dist/katex.min.css') }} />

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div id="prompt">
<span id="title">
{{name|safe}}
</span>
<br>
{{tag|safe}}
<br><br><br><br>

{% if not current_user.is_authenticated %}
Create a login to enable editing. Already have an account? <a href="{{ url_for('Login') }}">Log in</a>.
</div>

<div class="box">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification">{{ messages[0] }}</div>
{% endif %}
{% endwith %}

<form method="POST" action="/create_user">
    <div class="login_field">
    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
    </div>

    <div class="login_field">
    <input class="input" type="text" name="name" placeholder="Name" autofocus="">
    </div>

    <div class="login_field">
    <input class="input" type="password" name="password" placeholder="Password">
    </div>

    <button class="login-button">Sign Up</button>
</form>
</div>
{% endif %}

{% if current_user.is_authenticated %}
</div>

<div class="box">
<div class="notification">
You are logged in as {{ current_user.name }}, log out?
</div>

<form method="POST" action="/logout_user">
    <input type="hidden" name="next" value="{{next}}"/>
    <button class="login-button">Log Out</button>
</form>
</div>
{% endif %}

<script type="module">
import { renderKatex } from '{{ url_for('static', filename='js/math.js') }}'
renderKatex();
</script>

{% endblock %}

{% block foot_login %}{% endblock %}
