
<div id="SVGEditorOuter">
<div id="SVGEditorBox">

<div id="SVGEditorBoxLeft">
<div id="SVGEditorInputBox">
<textarea id="SVGEditorInputText" class="p_input svgE" spellcheck="false"></textarea>
<div id="SVGEditorInputView" class="p_input_view svgE"></div>
</div>
<textarea id="SVGEditorParsed" readonly="true" placeholder="Add SVG code here"></textarea>
<div id="SVGEditorParsedView" class="p_input_view svgE"></div>

</div>
<div id=SVGWidthControl></div>
<div id="SVGEditorBoxRight">
<div id="SVGEditorOutput"></div>
<div id="interActiveControl"></div>
<div id="SVGEditorNav">
<div id="SVGEditorNavUp">
<input id="SVGEditorKW" placeholder="Keywords"></input>
</div>
<div id="SVGEditorNavDown">
<input id="SVGEditorTag" placeholder="Image tag (required)"></input>
</div>
</div>
</div>

</div>
</div>
