<div id="svgEditorOuter">
<div id="svgEditorBox">

<div id="svgEditorBoxLeft">
<div id="svgEditorTextGum"></div>
<div id="svgEditorTextSvg"></div>
</div>

<div id="svgWidthDisplay">
<div id=svgWidthControl></div>
</div>

<div id="svgEditorBoxRight">
<div id="svgEditorOutput"></div>
<div id="interActiveControl"></div>
<div id="svgEditorNav">
<div id="svgEditorNavUp">
<input id="svgEditorKw" placeholder="Keywords"></input>
</div>
<div id="svgEditorNavDown">
<input id="svgEditorTag" placeholder="Image tag (required)"></input>
</div>
</div>
</div>

</div>
</div>
