:root {
    --bg-col: rgb(33, 33, 33);
    --bg-hl-col: rgb(41, 41, 41);
    --bg-hl2-col: rgb(51, 51, 51);
    --bor-col: #6c71c4; /* border and link color */
    --hl-col: #859900; /* highlight color */
    --hl2-col: #dc322f ; /* highlight color */
    --pop-fg-col: #eee8d5; /* popup text color */
    --pop-bg-col: rgb(81, 81, 81); /* #93a1a1; */ /* popup background color */
    --butt-fg-col: #eee8d5;
    --butt-bg-col: rgb(81, 81, 81);
    --font-col: #eee8d5;
    --font-col-int: #b58900;
    --dc-blue-col: rgb(33, 150, 243);
    --dollar-col: #859900;
    --brace-col: rgba(33, 150, 243, 0.3);
    --math-col: #3280F3;
    --code-bg-col: #444;
    --comment-col: rgb(120, 120, 120); /* comment text color */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/Roboto-Black.ttf') format('truetype');
}

/* global */

body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: var(--font-col);
    background-color: var(--bg-col);
    caret-color: var(--hl-col);
}

button {
    background-color: var(--butt-bg-col);
    color: var(--butt-fg-col);
    border: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
}

.foot_butt svg {
    fill: var(--butt-fg-col);
}

button:hover {
    background-color: rgb(101, 101, 101);
}

.control {
    padding-right: 3px;
}

.controlBut {
    background-color: var(--bg-hl2-col);
}

.controlBut:hover {
    background-color: #555;
}

.controlBut svg {
    fill: #AAA;
    stroke: #AAA;
}

#export_options {
    border-radius: 2px;
}

/* other elements */

#sidebar {
    background-color: var(--bg-hl-col);
}

#logo_placeholder {
    border-bottom: 1px solid rgb(61, 61, 61);
}

.options {
    border-bottom: 1px solid rgb(61, 61, 61);
}

#toc_title {
    font-size: 20px;
}

.toc_entry {
    color: var(--font-col);
}

/* paras */

.para {
}

.para.active {
    background-color: var(--bg-hl-col);
}

.container:not(.ssv) .para.active {
    box-shadow: -3px 0px var(--hl-col);
}

.container.ssv .para.active .p_input_view {
    box-shadow: -3px 0px var(--hl-col);
}

.para.changed {
   box-shadow: 1px 0px 0px 0px var(--hl-col);
}

.para.hl_change {
   box-shadow: 1px 0px 0px 0px var(--dc-blue-col);
}

.para.copy_sel {
    background-color: var(--bg-hl-col);
}

/* text elements */

.env__title > .p_text, .env__heading > .p_text {
    border-bottom: 1px solid var(--dc-blue-col);
}

.footnote {
}

.footnote > .num {
    color: white;
    background-color: var(--code-bg-col);
    border: 1px solid #555;
    border-radius: 2px;
    font-family: monospace;
    font-size: 60%;
    padding: 1px 4px 0px 3px;
    vertical-align: super;
}

.empty {
    color: var(--comment-col);
}

.empty::before {
    content: '// empty cell';
}

.comment {
    color: var(--comment-col);
}

.comment::before {
    content: '// ';
}

.code, .syn_code {
    font-family: monospace;
    text-align: left;
    background-color: var(--code-bg-col);
    border-radius: 3px;
}

.code {
    font-size: 80%;
    padding: 3px;
}

.ref_error {
    background-color: var(--font-col);
    color: var(--hl2-col);
    border-radius: 3px;
    padding: 2px;
}

#pop {
    color: var(--pop-fg-col);
    background-color: var(--pop-bg-col);
    opacity: 0.95;
    border-radius: 5px;
}

#pop:after {
  border: var(--pop-bg-col);
}

#pop .heading {
    color: var(--hl-col)
}

#pop a {
    color: teal;
}

#cc_pop {
    color: var(--hl-col);
    background-color: var(--pop-bg-col);
    border-radius: 5px;
    font-family: monospace;
    font-size: 80%;
}

.cc_row {
    padding: 3px 0px 3px 3px;
    border-top: 1px solid var(--math-col);
}

.cc_row:last-child {
    border-bottom: 1px solid var(--math-col);
}

.cc_row:first-child{
    color: var(--pop-fg-col);
}

/* syntax highlighting */

.syn_hl {
    color: var(--hl2-col);
}

.syn_math {
    color: var(--math-col);
}

.syn_ref {
    color: var(--font-col-int);
}

.syn_delimit {
    color: var(--dollar-col);
}

.syn_jschars{
   color: var(--bor-col);
}

.syn_comment_head {
    color: var(--font-col-int);
}

.syn_comment {
    color: var(--bor-col);
}

.syn_err {
    background-color: var(--font-col);
    color:  var(--hl2-col);
    border-radius: 3px;
}

.brace {
    background-color: var(--brace-col);
}

/* home page */

#query {
  background-color: var(--bg-hl2-col);
  color: var(--font-col);
}

#submit {
  background-color: var(--bg-hl-col);
  border: none;
  color: var(--font-col);
}

.result {
  background-color: var(--bg-hl-col);
}

a.result {
  color: var(--font-col-int);
}

.blurb {
  color: var(--font-col);
}

.blurb .title {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.heading {
  color: var(--hl2-col)
}

/* bib */

#bib_input {
  background-color: var(--bg-hl-col);
}

.cite > a {
    color: var(--delimit-col);
}

#query, .cite, #create_new{
    border-radius: 2px;
}

#search_results {
    background-color: var(--bg-col);
}

.cite {
    background-color: var(--bg-hl-col);
}

.citekey {
    color: var(--hl-col)
}

.hl {
    font-weight: bold;
    color: var(--hl2-col);
}

/* dropdown */

.custom-select-trigger:after {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: var(--hl2-col);
}

.custom-select-trigger {
    background: var(--bg-hl2-col);
    color: var(--delimit-col);
}

.custom-options {
    background: var(--bg-col);
}

.custom-option {
    border-bottom: 1px solid var(--bg-hl2-col);
}

.custom-option {
    background-color: var(--delimit-col);
    color: var(--dc-blue-col);
}

.custom-option:hover {
    background-color: var(--bg-hl2-col);
}

#sidebar {
    white-space: nowrap;
}

#axell > svg {
    stroke: white;
    fill: white;
}

.header_link {
    border-color: var(--hl-col) !important;
}

@media only screen and (max-width: 1000px) and (max-device-width: 1000px) {

.container:not(.ssv) .controlButs > .controlBut {
    background-color: var(--code-bg-col);
}

}
