:root {
    --bg-col: rgb(33, 33, 33);
    --bg-hl-col: rgb(41, 41, 41);
    --bg-hl2-col: rgb(51, 51, 51);
    --bor-col: #6c71c4; /* border and link color */
    --hl-col: #859900; /* highlight color */
    --hl2-col: #dc322f ; /* highlight color */
    --pop-fg-col: #002b36; /* popup text color */
    --pop-bg-col: #93a1a1; /* popup background color */
    --bg-font: 15px; /* popup background color */
    --font-col: #eee8d5;
    --font-col-int: #b58900;
    --dc-blue-col: rgb(33, 150, 243);
    --dollar-col: #859900;
    --brace-col: rgba(33, 150, 243, 0.2);
    --math-col: #3280F3;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('/static/fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/static/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('/static/fonts/Roboto-Black.ttf') format('truetype');
}

/* global */

body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: var(--font-col);
    background-color: var(--bg-col);
    caret-color: var(--hl-col);
}

button {
    background-color: var(--pop-bg-col);
    color: var(--pop-fg-col);
    border: none;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
}

#content, #preview {
    max-width: 650px;
    padding: 25px;
}

.para {
    left: 0 !important;
    width: 100% !important;
}

/* other elements */

#sidebar {
    background-color: var(--bg-hl-col);
}

#logo_placeholder {
    border-bottom: 1px solid rgb(61, 61, 61);
}

.options {
    border-bottom: 1px solid rgb(61, 61, 61);
}

#toc_title {
    font-size: 30px;
    border-bottom: 1px solid rgb(61, 61, 61);
}

.toc_entry {
    color: var(--font-col);
}

/* paras */

.para {
    border-left: 2px solid var(--bg-col);
}

.para.changed {
    border-right: 2px solid var(--hl2-col);
}

.active {
    border-left: 2px solid var(--hl-col);
    background-color: var(--bg-hl-col);
}

.controlDots {
    color: var(--pop-bg-col);
}

/* text elements */

.title, .env__heading {
    border-bottom: 1px solid var(--dc-blue-col);
}

.footnote {
  color: var(--delimit-col);
}

.footnote > .num {
   color: var(--font-col);

}

.code {
    font-family: Fira;
    font-size: 90%;
    color: var(--hl-col);
    text-indent: 15px;
    background-color: var(--bg-hl-col);
}

.ref_error {
    background-color: var(--font-col);
    color: var(--hl2-col);
    border-radius: 3px;
    padding: 2px;
}

#pop {
    color: var(--pop-fg-col);
    background-color: var(--pop-bg-col);
    opacity: 0.95;
    border-radius: 5px;
}

#pop:after {
  border: var(--pop-bg-col);
}

#pop .heading {
    color: var(--hl-col)
}

#pop a {
    color: teal;
}

/* syntax highlighting */

.syn_hl {
    color: var(--hl2-col);
}

.syn_math {
    color: var(--math-col);
}

.syn_ref {
    color: var(--font-col-int);
}

.syn_delimit {
    color: var(--dollar-col);
}

.brace {
    background-color: var(--brace-col);
}

/* home page */

#new_art_id {
  background-color: var(--bg-hl-col);
  color: var(--font-col);
}

#submit {
  background-color: var(--bg-hl-col);
  border: none;
  color: var(--font-col);
}

.art_result {
  background-color: var(--bg-hl-col);
}

a.art_result {
  color:  var(--font-col-int);
}

.blurb {
  color: var(--font-col);
}

.heading {
  color: var(--hl2-col)
}

/* bib */

#bib_input {
  background-color: var(--bg-hl-col);
}

.cite > a {
    color: var(--delimit-col);
}

#search_results {
    background-color: var(--bg-col);
}

.cite {
    background-color: var(--bg-hl-col);
}

.citekey {
    color: var(--hl-col)
}

/* dropdown */

.custom-select-wrapper {
    /*
    float: right;
    margin-right: 5px;
    */
    position: absolute !important;
    right: 5px;
}

.custom-select-trigger:after {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: var(--hl2-col);
}

.custom-select-trigger {
    background: var(--bg-hl2-col);
    color: var(--delimit-col);
}

.custom-options {
    background: var(--bg-col);
}

.custom-option {
    border-bottom: 1px solid var(--bg-hl2-col);
}

.custom-option {
    background-color: var(--delimit-col);
    color: var(--dc-blue-col);
}

.custom-option:hover {
    background-color: var(--bg-hl2-col);
}

#sidebar {
    white-space: nowrap;
}
